.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  display: block;
}

.nav-menu-hidden,
.nav-menu {
  background-color: #fff;
  font-weight: 200;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #97bf0f;
}

.nav-menu-items {
  width: 100%;
  background-color: #f5fffa;
  outline: none;
  border: none;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.social-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 20px;
  margin-top: 200px;
}

.copyrights {
  margin-top: 17px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .nav-menu-hidden,
  .nav-menu {
    transform: translateX(0);
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    float: left;
    border-right: 1px solid #0003;
    margin-right: 20px;
  }

  .menu-bars {
    display: none;
  }

  .copyrights {
    margin: 25px 0 0 25px;
    justify-content: center;
  }
}
